
<h1>Lista de productos</h1>
<ul id="listaProductos">
  {{#each productos}}
    <li>{{this.id}} • {{this.name}} • ${{this.price}}</li>
  {{/each}}
</ul>
<p><a href="/realtimeproducts">Ver productos en tiempo real</a></p>

