<h1>Lista de productos</h1>
<ul>
  {{#each productos}}
    <li>{{this.id}} • {{this.nombre}} • ${{this.precio}}</li>
  {{/each}}
</ul>
<p><a href="/realtimeproducts">Ver productos en tiempo real</a></p>

